.drag-drop{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2rem;
    font-size: 1.2rem;
    color: gray;
    border-radius: 5px;
    cursor:pointer;
}

.drag-drop p{
    margin: 0 0 1rem;
}
.custom-file-upload{
    padding:.5rem 1rem;
    font-weight:600;
    color:white;
    background-color:#58b39f ;
    border:1px solid #0a7a68;
    cursor:pointer;
    border-radius: 30px;
}

.custom-file-upload:hover{
    background-color:#045a47;
    border-color:#0a7a68;

}
input[type="file"]{
    display: none;
}
.fileInput{
    display: none;
}
.captionInput{
    width:100%;
    margin-top: 5px;
    outline: none;
    resize:none;
    font-size: small;
}
.locationInput{
    border:none;
    outline: none;
    width: 90%;
}
